@model IEnumerable<SAP.Models.SurveyStatistics>

<table class="table">
    <tr>


        <th>
            Answer name
        </th>
        <th>
            count
        </th>

    </tr>


    @foreach (var item in Model)
    {


        <tr>


            <td>
                @Html.DisplayFor(modelItem => item.answerName)
                
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.count)

            </td>


        </tr>
    }

</table>

<div id="visualisation">
    
</div>
<a href="/Surveys/Index">BACK</a>

<link href="~/Content/d4.css" rel="stylesheet" />
@section Scripts {
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="~/Scripts/d4.min.js"></script>
    <script>
        var graphData = [];

        @foreach (var data in Model)
        {
            <text>
                graphData.push({
                    x: '@data.answerName',
                    y: '@data.count'
                });
            </text>
        }

        var chart = d4.charts.column();
        d3.select('#visualisation')
            .datum(graphData)
            .call(chart);

    </script>

}
@* 123123123123	1
    1323123	1
    999999999	1
    asdasdasd	1
    efnhjkfb	1
    fekldqwn	1
    Student	7
    Studenta	4
    Students	2 *@


